.myForm {
  margin-top: 30rem;
}
.myForm > div > input {
  display: inline-block;
  float: center;
  margin-top: 1rem;
}
.myForm > div > label {
  display: inline-block;
  float: center;
  clear: left;
  width: 20px;
  text-align: right;
  margin-right: 5rem;
}

body {
  background-color: azure;
}
