.myForm {
  margin-top: 30rem;
}
.signup-form > div > input {
  display: inline-block;
  float: center;
  margin-top: 1rem;
}
.signup-form > div > label {
  display: inline-block;
  float: center;
  clear: left;
  width: 20px;
  text-align: right;
  margin-right: 5rem;
}

.signup {
  margin: -10rem;
}
